<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970056434523-49ipos5npjos90eoij4mai2areb94ou7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970056434523-49ipos5npjos90eoij4mai2areb94ou7</string>
	<key>API_KEY</key>
	<string>AIzaSyDPwWxw_FoK9BrEu5lEDPUeFI-014NkMH0</string>
	<key>GCM_SENDER_ID</key>
	<string>970056434523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otaFlutter</string>
	<key>PROJECT_ID</key>
	<string>ota-localizations</string>
	<key>STORAGE_BUCKET</key>
	<string>ota-localizations.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970056434523:ios:fe082120c83a1b7dff907e</string>
</dict>
</plist>